<div class="p-grid">
    <div class="p-col-6 div-colum card">
        <div class="p-grid" >
          <div class="p-col-4">
            <div class="p-grid p-justify-center">
              <div class="profiles p-2 my-3 rounded text-center">
                <div class="item-avatar">
                        <img src="https://demo.bootstrap.news/bootnews/assets/img/avatar/avatar7.png" 
                         class="avatar-lg rounded-circle img-fluid">
                        <p>Tipo Usuario</p>               
                </div>
               </div> 
            </div>
          </div>
          <div class="p-col-8">      
            <h4 ><strong>Steven</strong> Alvarado</h4>
            <span>mail.prinicpal.com</span>
            <p>Celular: 0994988821<br> Direccion Principal<br>Estado: Activo
                <br>Codigo Externo</p>
          </div>        
        </div>
    </div>
    <div class="p-col-5 card div-colum">
      <div class="p-grid">
        <div class="p-col-4 ">
            <a class="member-item" href="#">
                    <div class="card">
                        <div class="p-grid">
                            <div class="p-col-6 d-flex justify-content-center align-items-center">
                                <div class="icon-big text-warning text-center">
                                  <i class="pi pi-check"></i>
                                </div>
                            </div>
                            <div class="p-col-6 d-flex justify-content-center align-items-center text-padding">
                                <div class="numbers">
                                    <p>Article</p>
                                    112
                                </div>
                            </div>
                        </div>
                    </div>
            </a>
        </div>
        <div class="p-col-4">
            <a class="member-item" href="#">
                <div class="card">
                   
                        <div class="p-grid ">
                            <div class="p-col-6 d-flex justify-content-center align-items-center">
                              <div class="icon-big text-info text-center">
                                <div class="notif">1</div>
                                <i class="pi pi-comments"></i>
                              </div>
                          </div>
                            <div class="p-col-6 d-flex justify-content-center align-items-center text-padding">
                                <div class="numbers">
                                    <p>Comments</p>
                                    454
                                </div>
                            </div>
                        </div>
                    
                </div>
            </a>
        </div>
        <div class="p-col-4">
            <a class="member-item" href="#">
                <div class="card">
                    
                        <div class="p-grid">
                            <div class="p-col-6 d-flex justify-content-center align-items-center">
                                <div class="icon-big text-danger text-center">
                                    <i class="pi pi-folder"></i>
                                </div>
                            </div>
                            <div class="p-col-6 d-flex justify-content-center align-items-center text-padding">
                                <div class="numbers">
                                    <p>Favorite</p>
                                    56
                                </div>
                            </div>
                        </div>
                    
                </div>
            </a>
        </div>
        <div class="p-col-4">
            <a class="member-item" href="#">
                <div class="card">
                    
                        <div class="p-grid">
                            <div class="p-col-6 d-flex justify-content-center align-items-center">
                                <div class="icon-big text-twitter text-center" title="1 new messages">
                                    <div class="notif">1</div>
                                    <i class="pi pi-envelope"></i>
                                </div>
                            </div>
                            <div class="p-col-6 d-flex justify-content-center align-items-center text-padding">
                                <div class="numbers">
                                    <p>Messages</p>
                                    23
                                </div>
                            </div>
                        </div>
                    
                </div>
            </a>
        </div>
        <div class="p-col-4">
            <a class="member-item" href="#">
                <div class="card">
                    
                        <div class="p-grid">
                            <div class="p-col-6 d-flex justify-content-center align-items-center">
                                <div class="icon-big text-facebook text-center">
                                    <i class="pi pi-star"></i>
                                </div>
                            </div>
                            <div class="p-col-6 d-flex justify-content-center align-items-center text-padding">
                                <div class="numbers">
                                    <p>Following</p>
                                    112
                                </div>
                            </div>
                        </div>
                   
                </div>
            </a>
        </div>
        <div class="p-col-4">
            <a class="member-item" href="#">
                <div class="card">
                   
                        <div class="p-grid">
                            <div class="p-col-6 d-flex justify-content-center align-items-center">
                                <div class="icon-big text-success text-center">
                                    <i class="pi pi-users"></i>
                                </div>
                            </div>
                            <div class="p-col-6 d-flex justify-content-center align-items-center text-padding">
                                <div class="numbers">
                                    <p>Follower</p>
                                    1567
                                </div>
                            </div>
                        </div>
                    </div>
               
            </a>
        </div>
    </div>
        
    </div>
</div>

<div class="p-grid p-justify-center">
  <div class="p-col-10">
    <p-tabView>
      <p-tabPanel header="Datos">
        <ng-template pTemplate="content">
        <div class="p-3 mb-3">
          <p><b>Numero de cedula:</b> 0994178952</p>
          <p><b>Razon Social:</b> Corporacion el rasado</p>
          <p><b>Direccion:</b> Alborada, decima etapa peatonal</p>
          <p><b>Telefono Celular 1:</b> +1 987654321</p>
          <p><b>Telefono Celular 2:</b> +1 987654321</p>
          <p><b>Sexo:</b> Hombre</p>
          <p><b>Estado Civil:</b> Casado</p>
        </div>
      </ng-template>
      </p-tabPanel>
  </p-tabView>
  </div>
</div>

<div class="p-grid p-justify-end">
    <div class="p-col-2"> 
        <a routerLink="/editar-perfil">
          <button pButton type="button" icon="pi pi-pencil" iconPos="left" label="Editar perfil" class="ui-button-rounded ui-button-danger" ></button>
        </a>    
    </div>
</div>
